<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
For keychron K12:
Caps lock to esc
Esc to `
Right ctrl to globe

https://hidutil-generator.netlify.app/
-->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.local.KeyRemapping1</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/hidutil</string>
      <string>property</string>
      <string>--matching</string>
      <string>{"ProductID":0x24f,"VendorID":0x5ac}</string>
      <string>--set</string>
      <string>{"UserKeyMapping":[
            {
              "HIDKeyboardModifierMappingSrc": 0x700000039,
              "HIDKeyboardModifierMappingDst": 0x700000029
            },
            {
              "HIDKeyboardModifierMappingSrc": 0x700000029,
              "HIDKeyboardModifierMappingDst": 0x700000035
            },
            {
              "HIDKeyboardModifierMappingSrc": 0x7000000E4,
              "HIDKeyboardModifierMappingDst": 0xFF00000003
            }
        ]}</string>
    </array>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
